@use "~bootstrap/scss/bootstrap" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}


// header
#app-header {
    #nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;

        .img-box {
            width: 75px;
        }

        nav,
        .img-box {
            height: 75px;
        }

        #list-links,
        #list-links li {
            height: 100%;
        }

        #list-links,
        li {
            display: flex;
            align-items: center;
        }

        #list-links li {
            padding: 15px;
        }
    }

    #jumbo-header {
        background-image: url('~resources/img/jumbotron.jpg');
        background-position: top;
        background-size: cover;
        height: 300px;
    }
}

// footer
#app-footer {
    #footer-links {
        background-image: url('~resources/img/footer-bg.jpg');
        padding: 30px 0;

        .container {
            display: flex;

            .card-footer h3 {
                display: inline-block;
                color: white;
                margin-bottom: 15px;
            }

            .card-footer {
                padding: 0 15px;

                ul {
                    padding: 0;
                }

                li a {
                    color: #999;
                }
            }
        }
    }
}

#comics-list {
    background-color: #1C1C1C;
    padding: 65px 0;

    .list-comics {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        .card-comics {
            flex-basis: calc(100% / 6 - 90px / 6);

            .img-box {
                height: 175px;
                overflow: hidden;
            }

            h3 {
                color: white;
                font-size: 15px;
                margin-top: 15px;
            }
        }
    }

}

#comic-item {
    background-color: #1C1C1C;
    padding: 65px 0;

    .comic-card {
        display: flex;
        gap: 15px;

        .img-box {
            flex-basis: 45%;
        }


        .comic-info {
            flex-basis: 55%;

            h1 {
                font-size: 40px;
            }

            h3 {
                font-size: 20px;
            }

            h1,
            h3,
            p {
                color: white;
                margin: 20px 0;
            }
        }
    }

}